trunk/toolSpecifications/toolSpecification.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v3.0b3 build 2 NT (http://www.xmlspy.com)-->
<!ELEMENT allowedNettypes (ntref+)>
<!ATTLIST  allowedNettypes 
	all CDATA #IMPLIED
>
<!ELEMENT application (allowedNettypes)>
<!ATTLIST application
	id ID #REQUIRED
	mainClass CDATA #REQUIRED
	maxinstances CDATA #REQUIRED
>
<!ELEMENT format (allowedNettypes)>
<!ATTLIST format
	id ID #REQUIRED
	ioClass CDATA #REQUIRED
>
<!ELEMENT ntref EMPTY>
<!ATTLIST ntref
	ref IDREF #REQUIRED
>
<!ELEMENT nettype EMPTY>
<!ATTLIST nettype
	id ID #REQUIRED
	typeSpecification CDATA #REQUIRED
>
<!ELEMENT standardApplication EMPTY>
<!ATTLIST standardApplication
	ref IDREF #REQUIRED
>
<!ELEMENT standardNettype EMPTY>
<!ATTLIST standardNettype
	ref IDREF #REQUIRED
>
<!ELEMENT standardFormat EMPTY>
<!ATTLIST standardFormat
	ref IDREF #REQUIRED
>
<!ELEMENT toolSpecification (nettype+, application+, format+, standardNettype, standardApplication, standardFormat)>
