netTypeSpecifications/netTypeSpecification.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT name (#PCDATA)>

<!ELEMENT extension EMPTY>

<!ATTLIST extension  name  CDATA  #REQUIRED
                      class CDATA  #REQUIRED >
<!ELEMENT extendable (extension*)>

<!ATTLIST extendable  class CDATA  #REQUIRED >
<!ELEMENT param EMPTY>

<!ATTLIST param  name  CDATA  #REQUIRED
                  value CDATA  #REQUIRED >
<!ELEMENT executable (param*)>

<!ATTLIST executable  class CDATA  #REQUIRED >
<!ELEMENT netTypeSpecification (extendable* , executable?)>

<!ATTLIST netTypeSpecification  name CDATA  #REQUIRED >
